khoahoc.dtd

<!ELEMENT elearning (course+)>

<!ELEMENT course (title, instructor, students)>
<!ATTLIST course
    id CDATA #REQUIRED
    category CDATA #REQUIRED>

<!ELEMENT title (#PCDATA)>

<!ELEMENT instructor (instructor_name, email)>
<!ATTLIST instructor id CDATA #REQUIRED>
<!ELEMENT instructor_name (#PCDATA)>
<!ELEMENT email (#PCDATA)>

<!ELEMENT students (student+)>
<!ELEMENT student (student_name)>
<!ATTLIST student
    id CDATA #REQUIRED
    progress CDATA #REQUIRED>
<!ELEMENT student_name (#PCDATA)>
